.mainAdmin{
    margin: 3px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 
    repeat( 
        auto-fit, 
        minmax(150px, 1fr)
        );
    gap: 1rem;
}

.dataViewAdmin{
    margin: 3px;
    padding: 3px;
    border: 5px solid rgb(14, 91, 48);
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.pCuadro{
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.pForm{
    display: flex;
    height: 5rem;
    align-content: center;
    height: 5rem;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;

}

.pForm button{
    width: 29%;
}

.banForm input{
    width: 250%;

}

